.box {
    width: 700px;
    height: 230px;
    background-color: rgb(143, 231, 233);
    padding: 30px 10px 20px 50px;
    position: relative;
    top: 150px;
    left: 400px;
}

.score {
    font-family: 微軟正黑體;
    font-style: italic;
    font-size: larger;
    font-weight: bolder;
}